BODY{
    background-image:url("./wp6949067.jpg") ;
background-repeat: unset;
}
h1{
    color:#22668D;
    background-color: #FFFADD;
}
p{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #040D12;
    
}