body{
    background-image: url("./WhatsApp\ Image\ 2023-10-18\ at\ 17.34.09_adecb3d4.jpg");
    color: #141E46;
   
}
h1{
    background-color:#F8BDEB;
    color: #0802A3;
}

h2{
    background-color:#FFF5E0;
}

