body{
    background-image:url("./OIP.jpeg");
background-size: auto;

}

h1{
    font-family:'Times New Roman', Times, serif;
   text-align: center;
   text-decoration-color: rgb(35, 221, 221); 
   color:#3876BF;
   background-color:#192655 ;
   
}


img{
   width: 500px;
   height: 500px;
   background-color: #F3F0CA;
   
}
.first{
  
    font-size: 35px;
    font-weight: 600;
    color:#E1AA74;
    font-family: 'Times New Roman', Times, serif;

}

    table{
        text-size-adjust: 10PX;
       
    }
   
    
.second{
    font-size: 30px;
    
    background-color: #8ECDDD;
    color: #22668D;
}
table
    {
       
        border-spacing: 40px;
        }

